CREATE TABLE recipes (
    id INT IDENTITY(1,1) PRIMARY KEY,
    productId INT NOT NULL,
    ingredientId INT NOT NULL,
    quantity DECIMAL(10,3) NOT NULL,
    unit NVARCHAR(50) DEFAULT 'adet',
    createdAt DATETIME DEFAULT GETDATE(),
    updatedAt DATETIME DEFAULT GETDATE(),
    CONSTRAINT FK_recipes_product FOREIGN KEY (productId) REFERENCES products(id) ON DELETE CASCADE,
    CONSTRAINT FK_recipes_ingredient FOREIGN KEY (ingredientId) REFERENCES products(id) 
);
